<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tid %>
    <%= form.text_field :tid %>
  </div>

  <div class="field">
    <%= form.label :tname %>
    <%= form.text_field :tname %>
  </div>

  <div class="field">
    <%= form.label :cid %>
    <%= form.text_field :cid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
